
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find a Phone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mars Facts'</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape News Data!</a></p>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h2 class="heading"> Latest Mars News </h2>
            </div>
        </div>
        <div class ="row"> 
            <div class= "col-md-12">
                <h2>{{mars.titles}}</h2>
                <h3>{{mars.para}}</h3>
            </div>
        </div>

        <div class="row">
            <div class= "col-md-12">
                <img  src="{{mars.featured_image_url}}" alt="Featured Mars Image">
            </div>
        </div>

        <div class="row">
            {% for each in mars.hemisphere_imgs %}
            <div class ="row">
                <br>
                <div class ="col-md-6">
                    <img src="{{each.image_url}}">
                </div>
                <div class ="col-md-6">
                    <h4>{{each.title}}</h4>
                </div>

            </div>
            {%endfor}
        </div>


    </div>
</body>

</html>